form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 0 auto;
}

.note-title {
  text-align: center;
  color: #374955;
}

input [type="text"] {
  padding: 12px 20px;
}
.journal-title {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
  margin: 15px 0;
}
textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.body-para {
  color: lightslategray;
  font-size: 14px;
}
