input [type="text"] {
  padding: 12px 20px;
}
.journal-title {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
.body-para {
  color: lightslategray;
  font-size: 14px;
}
.submit-post-btn {
  padding: 8px;
  background-color: blue;
  color: #f8f8f8;
  border-radius: 5px;
  font-size: 16px;
}
