.header {
  display: flex;
  align-items: center;
  background-color: #006f64;
  color: #e6f4f1;
}
.header h1 a {
  color: #e6f4f1;
  text-decoration: none;
  margin-left: 10px;
}
.username {
  margin-right: 10px;
  font-weight: bold;
}

.logout {
  padding: 10px 15px;
  margin: 8px;
  border-radius: 22px;
  border: 2px solid #fff;
  font-weight: bold;
  background-color: transparent;
  color: #fff;
}
.logout:hover {
  background-color: #044841;
}
h2 {
  color: #87ab7b;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  color: #eefbff;
}
.navbar li {
  display: inline;
}
.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #eefbff;
  margin-right: 10px;
}
