/* .header {
} */

.navbar {
  position: relative;
}
.navbar ul {
  margin: 0 auto;
  float: right;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: blue;
}
