.header {
  display: flex;
}
h2 {
  color: #87ab7b;
}
.navbar {
  margin-left: auto;
}
.navbar ul {
  color: blue;
}
.navbar li {
  display: inline;
}
.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: blue;
  margin-right: 10px;
}
