body {
  height: 100%;
}

.login-form {
  padding: 50px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type="text"] {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="password"] {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.login-submit-btn {
  padding: 8px;
  background-color: blue;
  border-radius: 10px;
  align-items: center;
  color: #ffffff;
}
