body {
  height: 100%;
}
.login-form h2 {
  text-align: center;
  color: #87ab7b;
}
.login-form {
  padding: 50px;
  height: 100%;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.input-field {
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #008ddf;
  font-size: 16px;
}

.login-submit-btn {
  width: 100%;
  padding: 8px;
  background-color: #0080fc;
  border-radius: 20px;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
}
