body {
  height: 100%;
}
h2 {
  color: #87ab7b;
}
.login-form {
  padding: 50px;
  height: 100%;
  display: flex;
  width: 50%;
  margin: 0 auto;
}

.input-field {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid #008ddf;
}

.login-submit-btn {
  padding: 8px;
  background-color: #0080fc;
  border-radius: 10px;
  align-items: center;
  color: #ffffff;
}
