h2 {
  color: #87ab7b;
}
.signup-form {
  width: 50%;
  margin: 0 auto;
}
.input-field {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 20px;
}

.register-btn {
  width: 50%;
  padding: 8px;
  background-color: #0080fc;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
}
