input[type="text"] {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

input[type="password"] {
  padding: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}

.register-btn {
  padding: 5px;
  background-color: blue;
  border-radius: 10px;
}
