.signup-form h2 {
  text-align: center;
  color: #87ab7b;
}
.signup-form {
  /* width: 50%; */
  margin: 0 auto;
  max-width: 350px;
}

.register-btn {
  width: 60%;
  padding: 8px;
  background-color: #0080fc;
  border-radius: 20px;
  color: #ffffff;
  font-size: 16px;
}
